web/WEB-INF/wsit-ch.eiafr.mas.mtom.SpeedTestWS.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SpeedTestWS" targetNamespace="http://mtom.mas.eiafr.ch/" xmlns:tns="http://mtom.mas.eiafr.ch/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="download"/>
    <message name="downloadResponse"/>
    <message name="upload"/>
    <message name="uploadResponse"/>
    <portType name="SpeedTestWS">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="download">
            <input message="tns:download"/>
            <output message="tns:downloadResponse"/>
        </operation>
        <operation name="upload">
            <input message="tns:upload"/>
            <output message="tns:uploadResponse"/>
        </operation>
    </portType>
    <binding name="SpeedTestWSPortBinding" type="tns:SpeedTestWS">
        <wsp:PolicyReference URI="#SpeedTestWSPortBindingPolicy"/>
        <operation name="hello">
            <input/>
            <output/>
        </operation>
        <operation name="download">
            <input/>
            <output/>
        </operation>
        <operation name="upload">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="SpeedTestWS">
        <port name="SpeedTestWSPort" binding="tns:SpeedTestWSPortBinding"/>
    </service>
    <wsp:Policy wsu:Id="SpeedTestWSPortBindingPolicy">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsoma:OptimizedMimeSerialization/>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</definitions>
